.bg{
   background-image: url("/luisleon3modified.jpeg");
   /* Full height */
   height: 100%;
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.text-responsive {
   font-size: calc(100% + 1vw + 1vh);
 }

.container-opacity{
   background: rgba(255, 255, 255, 0.8)
}

.vertical-center {
   min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
   min-height: 100vh; /* These two lines are counted as one :-)       */
 
   display: flex;
   align-items: center;
 }

.blog-header{
   background-color: lightgray;
}

.header-right{
   float: right;
}

.header-left{
   float: left;
}

.header-title{
   font-size: 3vw;
}

.header-button{
   font-size: 1vw;
}

@media screen and (max-width: 500px) {
   .header a {
     float: none;
     display: block;
     text-align: left;
   }
   .header-right {
     float: none;
   }
 }