---
import IndexLayoutWrapper from "../components/IndexLayoutWrapper.astro";
import Card from "../components/Card.astro";
---
<IndexLayoutWrapper title="Luis Alfredo's Blog">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6 d-inline-block container-opacity" style="height: 88vh;">
      <div class="opacity-50">
        <div class="mask" style="background-color: rgba(0,0,0, 0,6);">
          <div class="row justify-content-center"><div class="d-flex p-5 text-center"><h1 class="display-2 text-responsive">leonvillapun.com</h1></div></div>
          <div class="row justify-content-center">
            Welcome to my webpage. This is a space to write about my passions and hobbies. I'll try to post regularly about my projects and also about everything that catches my interest. Thanks for visiting!
          </div>
          <br/>
          <div class="row justify-content-center">
            <div class="col-md-12"><Card cardbutton="" cardlink="/about" cardtext="A deeper dive into my objectives, hobbies, and core values." cardtitle="About Me" /></div>
          </div>
          <br/>
          <div class="row justify-content-center">
            <div class="col-md-12"><Card cardbutton="" cardlink="/dataaandcode/all" cardtext="Projects and tutorials. Knowledge exchange." cardtitle="Data and Code" /></div>
          </div>
          <br/>
          <div class="row justify-content-center">
            <div class="col-md-12"><Card cardbutton="" cardlink="/booksandmovies/all" cardtext="Synopsis, opinion articles and special commentaries." cardtitle="Books and Movies" /></div>
          </div>
          <br/>
          <div class="row justify-content-center">
            <div class="col-md-12"><Card cardbutton="" cardlink="/miscellaneus/all" cardtext="A special place to share my thoughts and opinions on every other topic." cardtitle="Miscellaneus" /></div>
          </div>
          </div>
        </div>
      </div>
    </div>
</IndexLayoutWrapper>