---
import IndexLayoutWrapper from "../components/IndexLayoutWrapper.astro";
import Card from "../components/Card.astro";
---
<IndexLayoutWrapper title="Luis Alfredo's Blog">
<div class="container">
  <div class="p-5 text-center opacity-25">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">leonvillapun.com</h1>
          <h4 class="mb-3">My personal blog</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="p-5 text-center opacity-25">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <div class="row">
          <div class="col"><Card cardtitle="About Me" cardimage="/luisleon1_small.jpeg" cardtext="" cardbutton="About Me" /></div>
          <div class="col"><Card cardtitle="Data and Code" cardimage="/code.svg" cardtext="" cardbutton="Data and Code" /></div>
          
          <div class="col"><Card cardtitle="Books and Movies" cardimage="/books.jpg" cardtext="" cardbutton="Books and Movies" /></div>
          <div class="col"><Card cardtitle="Miscellaneus" cardimage="/miscellaneus.png" cardtext="" cardbutton="Miscellaneus" /></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</IndexLayoutWrapper>