---
export interface Props {
	cardtitle: string;
  cardlink: string;
  cardtext: string;
  cardbutton: string;
}

const { cardtitle, cardlink, cardtext, cardbutton } = Astro.props as Props;
---
<div class="card" style="background-color: lightgray;">
  <div class="card-body">
    <div class="container container-fluid">
      <div class="row">
        <div class="col-md-12">
          <a class="text-black-50 nav-link" href={cardlink}><h5>{cardtitle}</h5></a>
          <p class="fs-6">{cardtext}</p>
        </div>
      </div>
    </div>
  </div>
</div>