---
export interface Props {
	cardtitle: string;
  cardimage: string;
  cardtext: string;
  cardbutton: string;
}

const { cardtitle, cardimage, cardtext, cardbutton } = Astro.props as Props;
---
<div class="card">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img src={cardimage} class="img-fluid" style="width:"/>
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
  </div>
  <div class="card-body">
    <a href="#!" class="btn btn-primary">{cardbutton}</a>
  </div>
</div>