<footer class="mt-auto footer-copyright text-center py-3 font-small blue fixed-bottom">
        <div class="flex-center">
          <!--Linkedin -->
          <a class="li-ic" href="https://www.linkedin.com/in/leonvillapun/">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/luisitovillapun/">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
        </div>
</footer>