<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
   <div class="">
      <div class="" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <a class="navbar-brand mt-2 mt-lg-0" href="/">
            <b>leonvillapun.com</b>
         </a>
            <li class="nav-item">
               <a class="nav-link" href="/about">About Me</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/dataandcode/all">Data and Code</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/booksandmovies/all">Books and Movies</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/miscellaneus/all">Miscellaneus</a>
            </li>
         </ul>
      </div>
   </div>
</nav>