---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import ShareLayout from "./ShareLayout.astro";
import "@fortawesome/fontawesome-free/css/all.css";
import "mdbootstrap/css/bootstrap.min.css";
import 'mdbootstrap/css/mdb.min.css';
import "mdbootstrap/css/style.css";
export interface Props {
	title: string;
   category: string;
}
const { title, category } = Astro.props as Props;

---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{title}</title>
   <Header></Header>
</head>
<body class="d-flex flex-column min-vh-100">
   <div class="container container-fluid">
      <div style="text-align: justify">
      <br/>
      <slot />
      </div>
   </div>
<br/>
<br/>
</body>
<Footer></Footer>
</html>
